# Week-1 Assignment

*Welcome to your first assignment for the SimuTech Winter Project 2022! I hope you are excited to implement and test everything you have learned up until now. There is an interesting set of questions for you to refine your acquired skills as you delve into hands-on coding and deepen your understanding of numpy, pandas, and data visualization libraries.*

# Section 0 : Importing Libraries

*Let's begin by importing numpy, pandas and matplotlib.*

In [ ]:
#your code here
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Section 1 : Playing with Python and Numpy

### Q1. Matrix Multiplication

##### (i) Check if matrix multiplication is valid

In [ ]:
def isValid(A,B):
  i=0
  for x in B:
    i=i+1

  j=0
  for y in A[0]:
    j=j+1

  if i==j:
    return 1
  else:
    return 0
#your code here

##### (ii) Using loops (without using numpy)

In [160]:
def matrix_multiply(A,B):
        C=[[0]*len(B[0]) for _ in range(0,len(A))]
        for i in range(0,len(A)):
            for j in range(0,len(B[0])):
                for k in range(0,len(A[0])):
                    C[i][j]+=A[i][k]*B[k][j]
        return C
  #your code here

##### (iii) Using numpy

In [135]:
def matrix_multiply_2(A,B):
  return np.dot(A,B)
  #your code here

##### (iv) Testing your code

Run the following cell to check if your functions are working properly.

*Expected output:*
[ [102 108 114]
 [246 261 276]
 [390 414 438]
 [534 567 600] ]

In [159]:
A = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
])

B = np.array([
    [13, 14, 15],
    [16, 17, 18],
    [19, 20, 21]
])

if isValid(A,B):
  print(f"Result using loops: {matrix_multiply(A,B)}")
  print(f"Result using numpy: {matrix_multiply_2(A,B)}")
else:
  print(f"Matrix multiplication is not valid")

Result using loops: [[102, 108, 114], [246, 261, 276], [390, 414, 438], [534, 567, 600]]
Result using numpy: [[102 108 114]
 [246 261 276]
 [390 414 438]
 [534 567 600]]

### Q2. Z-Score Normalisation

Z-score normalization refers to the process of normalizing every value in a dataset such that the mean of all of the values is 0 and the standard deviation is 1.

We use the following formula to perform a z-score normalization on every value in a dataset:

New value = (x – μ) / σ

where:

x: Original value

μ: Mean of data

σ: Standard deviation of data

##### (i) Without using numpy

In [ ]:
def mean(x):
  sum=0
  i=0
  for y in x:
    sum=sum+y
    i=i+1
  return sum/i
  #your code here

In [ ]:
from math import sqrt
def standard_deviation(x):
  ss=0
  i=0
  for z in x:
    ss=ss+(z-mean(x))**2
    i=i+1
  return sqrt(ss/i)
  #your code here

In [ ]:
def zscore_normalisation(x):
  for i in range(0,len(x)):
    x[i]=(x[i]-mean(x))/standard_deviation(x)
  return x
  #your code here

##### (ii) Using numpy

Numpy has in_built functions for calculating mean and standard deviation

In [ ]:
def zscore_normalisation_2(x):
  for i in range(0,len(x)):
    x[i]=(x[i]-np.mean(x))/np.std(x)
  return x
  #your code here

##### (iii) Testing your code

Run the following cell to check if your functions are working properly.

*Expected Output:* [-1.06753267 -0.99745394 -0.99745394 -0.81057732 -0.41346451 -0.06307086
  0.31068237  0.91803138  1.22170588  1.89913361]

In [ ]:
x = [4, 7, 7, 15, 32, 47, 63, 89, 102, 131]
print(f"Result without using numpy: {zscore_normalisation(x)}")
print(f"Result using numpy: {zscore_normalisation_2(x)}")

Result without using numpy: [-1.0675326683028088, -0.9727943135965252, -0.9364168144729269, -0.7243861555687957, -0.30254830445949693, 0.08692577808039623, 0.4984705336101296, 1.1351346052952587, 1.6733860923777455, 2.999235532743759]
Result using numpy: [-1.0218002374617001, -0.9547224300321112, -0.928837493474097, -0.7632008022180936, -0.4273932326357982, -0.11151725501916045, 0.22475232649154958, 0.7439367021438258, 1.217594103630652, 2.4027118347789904]

### Q3. Sigmoid fn and its derivative

The sigmoid function is a mathematical function that maps any input value to a value between 0 and 1.

It is defined mathematically as s(x) = 1/(1+e^(-x)).

##### (i) Write a fn to implement sigmoid fn

In [ ]:
def sigmoidfn(x):
  return 1/(1+np.exp(-x))
  #your code here

##### (ii) Write a fn to implement derivative of sigmoid fn

In [ ]:
def derivative(x):
  return sigmoidfn(x)*(np.exp(-x))
  #your code here

##### (iii) Test your code

Run the following cell to check if your functions are working properly.

*Expected output:*

x on applying sigmoid activation fn is: [ [0.99987661 0.88079708 0.99330715 0.5        0.5       ]
 [0.99908895 0.99330715 0.5        0.5        0.5       ] ]

x on applying derivative of sigmoid activation fn is: [ [-1.23379350e-04 -1.04993585e-01 -6.64805667e-03 -2.50000000e-01
  -2.50000000e-01]
 [-9.10221180e-04 -6.64805667e-03 -2.50000000e-01 -2.50000000e-01
  -2.50000000e-01] ]

In [ ]:
x = np.array([
    [9,2,5,0,0],
    [7,5,0,0,0]
])
print(f"x on applying sigmoid activation fn is: {sigmoidfn(x)}")
print(f"x on applying derivative of sigmoid activation fn is: {derivative(x)}")

x on applying sigmoid activation fn is: [[0.99987661 0.88079708 0.99330715 0.5        0.5       ]
 [0.99908895 0.99330715 0.5        0.5        0.5       ]]
x on applying derivative of sigmoid activation fn is: [[1.23394576e-04 1.19202922e-01 6.69285092e-03 5.00000000e-01
  5.00000000e-01]
 [9.11051194e-04 6.69285092e-03 5.00000000e-01 5.00000000e-01
  5.00000000e-01]]

# Section 2: Exploring Pandas

*You have been provided with a dataset which includes information about properties of superheated vapor.*

*The dataset consists of the thermophysical properties: specific volume, specific internal energy, specific enthalpy, specific entropy of superheated vapor.*

*Pressure is in kPa and Temperature in centigrade. In the dataframe 75, 100, 125, etc. are temperatures.*

### Read the csv file

In [96]:
#your code here
url = "https://docs.google.com/spreadsheets/d/1JQ0mf0iW9xHXHHRPEbKiZfet5yhm_CrfyVt9n7ly4dI/export?format=csv"
df = pd.read_csv(url)

### Display the shape of data frame

In [92]:
#your code here
print(df.shape)

(1091, 37)

### Return an array containing names of all the columns

In [103]:
#your code here
print(df.columns)

Index(['<<<<<<< HEAD', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36'],
      dtype='object')

### Display the number of null values in each column of the dataframe

In [115]:
#your code here
hello=df.isnull().sum()
print(hello)

<<<<<<< HEAD       0
Unnamed: 1         2
Unnamed: 2         2
Unnamed: 3         2
Unnamed: 4      1057
Unnamed: 5      1017
Unnamed: 6       977
Unnamed: 7       897
Unnamed: 8       769
Unnamed: 9       641
Unnamed: 10      817
Unnamed: 11      801
Unnamed: 12      817
Unnamed: 13      689
Unnamed: 14      769
Unnamed: 15      681
Unnamed: 16      761
Unnamed: 17      977
Unnamed: 18      121
Unnamed: 19      961
Unnamed: 20      273
Unnamed: 21      954
Unnamed: 22      137
Unnamed: 23      954
Unnamed: 24      409
Unnamed: 25      954
Unnamed: 26        2
Unnamed: 27      410
Unnamed: 28        2
Unnamed: 29      410
Unnamed: 30        2
Unnamed: 31      546
Unnamed: 32        2
Unnamed: 33      682
Unnamed: 34        2
Unnamed: 35      954
Unnamed: 36        2
dtype: int64

### Create a column which contains the Pressure and Property columns, seperated with 'at' (For eg. V at 1, H at 101.325). Using this print the following:
- Enthalpy at 75 kPa and 573 K
- Entropy at 493 K and 250 kPa

In [153]:
#your code here
df['Newcolumn']=df['Unnamed: 1']+' at '+df['<<<<<<< HEAD'].astype(str)
print(df['Newcolumn'])

0       Property at Pressure
1                     V at 1
2                     U at 1
3                     H at 1
4                     S at 1
                ...
1086              V at 11400
1087              U at 11400
1088              H at 11400
1089                     NaN
1090              S at 11400
Name: Newcolumn, Length: 1091, dtype: object

### Find out the column with the highest number of missing values

In [123]:
#your code here
hello=df.isnull().sum()
print(hello.idxmax())

Unnamed: 4



### What is the average enthalpy of Sat. Liq. at all different pressures in the dataset?

In [151]:
#your code here
H_data=df[(df['Unnamed: 1']=='H')]
b=H_data['Unnamed: 2']
c=pd.Series(b)
d=c.astype(float)
print(d.mean())

936.9707720588235

### Separate out the V,U,H,S data from the dataset into V_data, U_data, H_data, S_data

In [108]:
#your code here
V_data=df[(df['Unnamed: 1']=='V')]
U_data=df[(df['Unnamed: 1']=='U')]
H_data=df[(df['Unnamed: 1']=='H')]
S_data=df[(df['Unnamed: 1']=='S')]
print(V_data)
print(U_data)
print(H_data)
print(S_data)

     <<<<<<< HEAD Unnamed: 1 Unnamed: 2 Unnamed: 3  Unnamed: 4  Unnamed: 5  \
1               1          V          1     129200    160640.0    172180.0
5              10          V       1.01      14670     16030.0     17190.0
9              20          V      1.017     7649.8      8000.0      8584.7
13             30          V      1.022     5229.3      5322.0      5714.4
17             40          V      1.027     3993.4         NaN      4279.2
...           ...        ...        ...        ...         ...         ...
1070        10600          V      1.474     16.778         NaN         NaN
1074        10800          V      1.481     16.385         NaN         NaN
1078        11000          V      1.489     16.006         NaN         NaN
1082        11200          V      1.496     15.639         NaN         NaN
1086        11400          V      1.504     15.284         NaN         NaN

      Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 27  \
1       183720.0    195270.0    206810.0    218350.0  ...          NaN
5        18350.0     19510.0     20660.0     21820.0  ...          NaN
9         9167.1      9748.0     10320.0     10900.0  ...          NaN
13        6104.6      6493.2      6880.8      7267.5  ...          NaN
17        4573.3      4865.8      5157.2      5447.8  ...          NaN
...          ...         ...         ...         ...  ...          ...
1070         NaN         NaN         NaN         NaN  ...       26.276
1074         NaN         NaN         NaN         NaN  ...       25.703
1078         NaN         NaN         NaN         NaN  ...       25.151
1082         NaN         NaN         NaN         NaN  ...       24.619
1086         NaN         NaN         NaN         NaN  ...       24.104

      Unnamed: 28  Unnamed: 29  Unnamed: 30  Unnamed: 31  Unnamed: 32  \
1      333730.000          NaN   356810.000          NaN   379880.000
5       33370.000          NaN    35670.000          NaN    37980.000
9       16680.000          NaN    17830.000          NaN    18990.000
13      11120.000          NaN    11890.000          NaN    12660.000
17       8340.100          NaN     8917.600          NaN     9494.900
...           ...          ...          ...          ...          ...
1070       27.834       29.313       30.732       32.106       33.444
1074       27.245       28.706       30.106       31.461       32.779
1078       26.676       28.120       29.503       30.839       32.139
1082       26.128       27.555       28.921       30.240       31.521
1086       25.599       27.010       28.359       29.661       30.925

      Unnamed: 33  Unnamed: 34  Unnamed: 35  Unnamed: 36
1             NaN   402960.000          NaN   426040.000
5             NaN    40290.000          NaN    42600.000
9             NaN    20140.000          NaN    21300.000
13            NaN    13430.000          NaN    14190.000
17            NaN    10070.000          NaN    10640.000
...           ...          ...          ...          ...
1070       34.753       36.039       37.304       38.552
1074       34.069       35.335       36.580       37.808
1078       33.410       34.656       35.882       37.091
1082       32.774       34.002       35.210       36.400
1086       32.160       33.370       34.560       35.733

[272 rows x 37 columns]
     <<<<<<< HEAD Unnamed: 1 Unnamed: 2 Unnamed: 3  Unnamed: 4  Unnamed: 5  \
2               1          U     29.334     2385.2      2480.8      2516.4
6              10          U    191.822       2438      2479.7      2515.6
10             20          U    251.432     2456.9      2478.4      2514.6
14             30          U    289.271     2468.6      2477.1      2513.6
18             40          U    317.609     2477.1         NaN      2512.6
...           ...        ...        ...        ...         ...         ...
1071        10600          U     1418.1       2539         NaN         NaN
1075        10800          U     1426.2     2536.2         NaN         NaN
1079        11000          U     1434.2     2533.2         NaN         NaN
1083        11200          U     1442.1     2530.3         NaN         NaN
1087        11400          U       1450     2527.2         NaN         NaN

      Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 27  \
2         2552.3      2588.5      2624.9      2661.7  ...          NaN
6         2551.6      2588.0      2624.5      2661.4  ...          NaN
10        2550.9      2587.4      2624.1      2661.0  ...          NaN
14        2550.2      2586.8      2623.6      2660.7  ...          NaN
18        2549.4      2586.2      2623.2      2660.3  ...          NaN
...          ...         ...         ...         ...  ...          ...
1071         NaN         NaN         NaN         NaN  ...       2884.5
1075         NaN         NaN         NaN         NaN  ...       2881.7
1079         NaN         NaN         NaN         NaN  ...       2878.9
1083         NaN         NaN         NaN         NaN  ...       2876.0
1087         NaN         NaN         NaN         NaN  ...       2873.1

      Unnamed: 28  Unnamed: 29  Unnamed: 30  Unnamed: 31  Unnamed: 32  \
2          3049.9          NaN       3132.4          NaN       3216.7
6          3049.8          NaN       3132.3          NaN       3216.6
10         3049.7          NaN       3132.3          NaN       3216.5
14         3049.6          NaN       3132.2          NaN       3216.5
18         3049.5          NaN       3132.1          NaN       3216.4
...           ...          ...          ...          ...          ...
1071       2939.1       2991.1       3041.4       3090.7       3139.3
1075       2936.7       2989.0       3039.6       3089.0       3137.8
1079       2934.3       2986.9       3037.7       3087.3       3136.2
1083       2931.8       2984.8       3035.8       3085.6       3134.7
1087       2929.4       2982.6       3033.9       3083.9       3133.1

      Unnamed: 33  Unnamed: 34  Unnamed: 35  Unnamed: 36
2             NaN       3302.6          NaN       3390.3
6             NaN       3302.6          NaN       3390.3
10            NaN       3302.5          NaN       3390.2
14            NaN       3302.5          NaN       3390.2
18            NaN       3302.4          NaN       3390.1
...           ...          ...          ...          ...
1071       3187.5       3235.6       3283.6       3331.7
1075       3186.1       3234.3       3282.4       3330.6
1079       3184.7       3233.0       3281.2       3329.5
1083       3183.3       3231.7       3280.0       3328.4
1087       3181.9       3230.4       3278.8       3327.2

[272 rows x 37 columns]
     <<<<<<< HEAD Unnamed: 1 Unnamed: 2 Unnamed: 3  Unnamed: 4  Unnamed: 5  \
3               1          H     29.335     2514.4      2641.5      2688.6
7              10          H    191.832     2584.8      2640.0      2687.5
11             20          H    251.453     2609.9      2638.4      2686.3
15             30          H    289.302     2625.4      2636.8      2685.1
19             40          H     317.65     2636.9         NaN      2683.8
...           ...        ...        ...        ...         ...         ...
1072        10600          H     1433.7     2716.9         NaN         NaN
1076        10800          H     1442.2     2713.1         NaN         NaN
1080        11000          H     1450.6     2709.3         NaN         NaN
1084        11200          H     1458.9     2705.4         NaN         NaN
1088        11400          H     1467.2     2701.5         NaN         NaN

      Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 27  \
3         2736.0      2783.7      2831.7      2880.1  ...          NaN
7         2735.2      2783.1      2831.2      2879.6  ...          NaN
11        2734.2      2782.3      2830.6      2879.2  ...          NaN
15        2733.3      2781.6      2830.0      2878.7  ...          NaN
19        2732.3      2780.9      2829.5      2878.2  ...          NaN
...          ...         ...         ...         ...  ...          ...
1072         NaN         NaN         NaN         NaN  ...       3163.0
1076         NaN         NaN         NaN         NaN  ...       3159.3
1080         NaN         NaN         NaN         NaN  ...       3155.5
1084         NaN         NaN         NaN         NaN  ...       3151.7
1088         NaN         NaN         NaN         NaN  ...       3147.9

      Unnamed: 28  Unnamed: 29  Unnamed: 30  Unnamed: 31  Unnamed: 32  \
3          3383.6          NaN       3489.2          NaN       3596.5
7          3383.5          NaN       3489.1          NaN       3596.5
11         3383.4          NaN       3489.0          NaN       3596.4
15         3383.3          NaN       3488.9          NaN       3596.3
19         3383.1          NaN       3488.8          NaN       3596.2
...           ...          ...          ...          ...          ...
1072       3234.1       3301.8       3367.2       3431.0       3493.8
1076       3230.9       3299.0       3364.7       3428.8       3491.8
1080       3227.7       3296.2       3362.2       3426.5       3489.7
1084       3224.5       3293.4       3359.7       3424.3       3487.7
1088       3221.2       3290.5       3357.2       3422.1       3485.7

      Unnamed: 33  Unnamed: 34  Unnamed: 35  Unnamed: 36
3             NaN       3705.6          NaN       3816.4
7             NaN       3705.5          NaN       3816.3
11            NaN       3705.4          NaN       3816.2
15            NaN       3705.4          NaN       3816.2
19            NaN       3705.3          NaN       3816.1
...           ...          ...          ...          ...
1072       3555.9       3617.6       3679.1       3740.4
1076       3554.1       3615.9       3677.5       3738.9
1080       3552.2       3614.2       3675.9       3737.5
1084       3550.4       3612.5       3674.4       3736.0
1088       3548.5       3610.8       3672.8       3734.6

[272 rows x 37 columns]
     <<<<<<< HEAD Unnamed: 1 Unnamed: 2 Unnamed: 3  Unnamed: 4  Unnamed: 5  \
4               1          S      0.106     8.9767      9.3828      9.5136
8              10          S     0.6493     8.1511      8.3168      8.4486
12             20          S     0.8321     7.9094      7.9933      8.1261
16             30          S     0.9441     7.7695      7.8024      7.9363
20             40          S     1.0261     7.6709         NaN      7.8009
...           ...        ...        ...        ...         ...         ...
1073        10600          S     3.4029     5.5835         NaN         NaN
1077        10800          S     3.4167     5.5715         NaN         NaN
1081        11000          S     3.4304     5.5595         NaN         NaN
1085        11200          S      3.444     5.5476         NaN         NaN
1090        11400          S     3.4575     5.5357         NaN         NaN

      Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 27  \
4         9.6365      9.7527      9.8629      9.9679  ...          NaN
8         8.5722      8.6888      8.7994      8.9045  ...          NaN
12        8.2504      8.3676      8.4785      8.5839  ...          NaN
16        8.0614      8.1791      8.2903      8.3960  ...          NaN
20        7.9268      8.0450      8.1566      8.2624  ...          NaN
...          ...         ...         ...         ...  ...          ...
1073         NaN         NaN         NaN         NaN  ...       6.2872
1077         NaN         NaN         NaN         NaN  ...       6.2744
1081         NaN         NaN         NaN         NaN  ...       6.2617
1085         NaN         NaN         NaN         NaN  ...       6.2491
1090         NaN         NaN         NaN         NaN  ...       6.2367

      Unnamed: 28  Unnamed: 29  Unnamed: 30  Unnamed: 31  Unnamed: 32  \
4         10.8200          NaN      10.9612          NaN      11.0957
8          9.7572          NaN       9.8984          NaN      10.0329
12         9.4372          NaN       9.5784          NaN       9.7130
16         9.2499          NaN       9.3912          NaN       9.5257
20         9.1170          NaN       9.2583          NaN       9.3929
...           ...          ...          ...          ...          ...
1073       6.3872       6.4793       6.5652       6.6465       6.7239
1077       6.3752       6.4678       6.5542       6.6357       6.7134
1081       6.3633       6.4564       6.5432       6.6251       6.7031
1085       6.3515       6.4452       6.5324       6.6147       6.6929
1090       6.3399       6.4341       6.5218       6.6043       6.6828

      Unnamed: 33  Unnamed: 34  Unnamed: 35  Unnamed: 36
4             NaN      11.2243          NaN      11.3476
8             NaN      10.1616          NaN      10.2849
12            NaN       9.8416          NaN       9.9650
16            NaN       9.6544          NaN       9.7778
20            NaN       9.5216          NaN       9.6450
...           ...          ...          ...          ...
1073       6.7983       6.8700       6.9394       7.0067
1077       6.7880       6.8599       6.9294       6.9969
1081       6.7779       6.8499       6.9196       6.9872
1085       6.7679       6.8401       6.9099       6.9777
1090       6.7580       6.8304       6.9004       6.9683

[271 rows x 37 columns]

# Section 4 : Conculsion

*Congratulations on reaching this point! I hope you had fun solving your first assignment and have also built confidence in applying these libraries. If you are wondering, we will cover more about z-score normalization in Week 2, and the sigmoid function will be used in Week 3. After completing this assignment, you are now prepared to learn about machine learning techniques and implement your own machine learning models.*