# Week-1 Assignment

*Welcome to your first assignment for the SimuTech Winter Project 2022! I hope you are excited to implement and test everything you have learned up until now. There is an interesting set of questions for you to refine your acquired skills as you delve into hands-on coding and deepen your understanding of numpy, pandas, and data visualization libraries.*

# Section 0 : Importing Libraries

*Let's begin by importing numpy, pandas and matplotlib.*

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Section 1 : Playing with Python and Numpy

### Q1. Matrix Multiplication

##### (i) Check if matrix multiplication is valid

In [2]:
def isValid(A,B):
  if (A.shape[1]==B.shape[0]):
    return(True)
  else:
    return(False)

##### (ii) Using loops (without using numpy)

In [3]:
def matrix_multiply(A,B):
  R=np.zeros((A.shape[0],B.shape[1]))
  for i in range(A.shape[0]):
    for j in range(B.shape[1]):
      R[i][j]=0
      for k in range(A.shape[1]):
        R[i][j]+=A[i][k]*B[k][j]
  return R

##### (iii) Using numpy

In [4]:
def matrix_multiply_2(A,B):
    return(np.matmul(A,B))

##### (iv) Testing your code

Run the following cell to check if your functions are working properly.

*Expected output:*
[ [102 108 114]
 [246 261 276]
 [390 414 438]
 [534 567 600] ]

In [5]:
A = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
])

B = np.array([
    [13, 14, 15],
    [16, 17, 18],
    [19, 20, 21],
])

if isValid(A,B):
    print(f"Result using loops:\n{matrix_multiply(A,B)}")
    print(f"Result using numpy:\n{matrix_multiply_2(A,B)}")
else:
    print(f"Matrix multiplication is not valid")

Result using loops:
[[102. 108. 114.]
 [246. 261. 276.]
 [390. 414. 438.]
 [534. 567. 600.]]
Result using numpy:
[[102 108 114]
 [246 261 276]
 [390 414 438]
 [534 567 600]]

### Q2. Z-Score Normalisation

Z-score normalization refers to the process of normalizing every value in a dataset such that the mean of all of the values is 0 and the standard deviation is 1.

We use the following formula to perform a z-score normalization on every value in a dataset:

New value = (x – μ) / σ

where:

x: Original value

μ: Mean of data

σ: Standard deviation of data

##### (i) Without using numpy

In [6]:
def mean(x):
    return sum(x)/len(x)

In [7]:
def standard_deviation(x):
    m = mean(x)
    sum = 0
    for i in x:
        sum += (i - m) ** 2
    return (sum / len(x)) ** 0.5

In [8]:
def zscore_normalisation(x):
  m = mean(x) 
  std = standard_deviation(x) 
  for i in range(len(x)): 
    x[i] = (x[i] - m) / std 
  return x

##### (ii) Using numpy

Numpy has in_built functions for calculating mean and standard deviation

In [9]:
def zscore_normalisation_2(x):
  x=np.array(x)
  m=np.mean(x)
  std=np.std(x)
  for i in range (len(x)):
    x[i]=(x[i]-m)/std
  return x

##### (iii) Testing your code

Run the following cell to check if your functions are working properly.

*Expected Output:* [-1.06753267 -0.99745394 -0.99745394 -0.81057732 -0.41346451 -0.06307086
  0.31068237  0.91803138  1.22170588  1.89913361]

In [10]:
x = [4, 7, 7, 15, 32, 47, 63, 89, 102, 131]
print(f"Result without using numpy:\n{zscore_normalisation(x)}")
print(f"Result using numpy:\n{zscore_normalisation_2(x)}")

Result without using numpy:
[-1.0675326683028088, -0.9974539373420117, -0.9974539373420117, -0.8105773214465528, -0.41346451266870277, -0.06307085786471743, 0.3106823739262003, 0.9180313755864415, 1.2217058764165623, 1.8991336090376005]
Result using numpy:
[-1.06753267 -0.99745394 -0.99745394 -0.81057732 -0.41346451 -0.06307086
  0.31068237  0.91803138  1.22170588  1.89913361]

### Q3. Sigmoid fn and its derivative

The sigmoid function is a mathematical function that maps any input value to a value between 0 and 1.

It is defined mathematically as s(x) = 1/(1+e^(-x)).

##### (i) Write a fn to implement sigmoid fn

In [11]:
def sigmoidfn(x):
  s=1/(1+np.exp(-x))
  return s

##### (ii) Write a fn to implement derivative of sigmoid fn

In [12]:
def derivative(x):
  der=sigmoidfn(x)*(1-sigmoidfn(x))
  return der

##### (iii) Test your code

Run the following cell to check if your functions are working properly.

*Expected output:*

x on applying sigmoid activation fn is: [ [0.99987661 0.88079708 0.99330715 0.5        0.5       ]
 [0.99908895 0.99330715 0.5        0.5        0.5       ] ]

x on applying derivative of sigmoid activation fn is: [ [-1.23379350e-04 -1.04993585e-01 -6.64805667e-03 -2.50000000e-01
  -2.50000000e-01]
 [-9.10221180e-04 -6.64805667e-03 -2.50000000e-01 -2.50000000e-01
  -2.50000000e-01] ]

In [13]:
x = np.array([
    [9,2,5,0,0],
    [7,5,0,0,0]
])
print(f"x on applying sigmoid activation fn is:\n{sigmoidfn(x)}")
print(f"x on applying derivative of sigmoid activation fn is:\n{derivative(x)}")

x on applying sigmoid activation fn is:
[[0.99987661 0.88079708 0.99330715 0.5        0.5       ]
 [0.99908895 0.99330715 0.5        0.5        0.5       ]]
x on applying derivative of sigmoid activation fn is:
[[1.23379350e-04 1.04993585e-01 6.64805667e-03 2.50000000e-01
  2.50000000e-01]
 [9.10221180e-04 6.64805667e-03 2.50000000e-01 2.50000000e-01
  2.50000000e-01]]

# Section 2: Exploring Pandas

*You have been provided with a dataset which includes information about properties of superheated vapor.*

*The dataset consists of the thermophysical properties: specific volume, specific internal energy, specific enthalpy, specific entropy of superheated vapor.*

*Pressure is in kPa and Temperature in centigrade. In the dataframe 75, 100, 125, etc. are temperatures.*

### Read the csv file

In [14]:
data=pd.read_csv('superheated_vapor_properties.csv')
data.head()

,Pressure,Property,Liq_Sat,Vap_Sat,75,100,125,150,175,200,...,425,450,475,500,525,550,575,600,625,650
0,1.0,V,1.000,129200.0000,160640.0000,172180.0000,183720.0000,195270.0000,206810.0000,218350.0000,...,NaN,333730.00,NaN,356810.0000,NaN,379880.0000,NaN,402960.0000,NaN,426040.0000
1,1.0,U,29.334,2385.2000,2480.8000,2516.4000,2552.3000,2588.5000,2624.9000,2661.7000,...,NaN,3049.90,NaN,3132.4000,NaN,3216.7000,NaN,3302.6000,NaN,3390.3000
2,1.0,H,29.335,2514.4000,2641.5000,2688.6000,2736.0000,2783.7000,2831.7000,2880.1000,...,NaN,3383.60,NaN,3489.2000,NaN,3596.5000,NaN,3705.6000,NaN,3816.4000
3,1.0,S,0.106,8.9767,9.3828,9.5136,9.6365,9.7527,9.8629,9.9679,...,NaN,10.82,NaN,10.9612,NaN,11.0957,NaN,11.2243,NaN,11.3476
4,10.0,V,1.010,14670.0000,16030.0000,17190.0000,18350.0000,19510.0000,20660.0000,21820.0000,...,NaN,33370.00,NaN,35670.0000,NaN,37980.0000,NaN,40290.0000,NaN,42600.0000

### Display the shape of data frame

In [15]:
data.shape

(544, 37)

### Return an array containing names of all the columns

In [16]:
arr=np.array(data.columns)
print(arr)

['Pressure' 'Property' 'Liq_Sat' 'Vap_Sat' '75' '100' '125' '150' '175'
 '200' '220' '225' '240' '250' '260' '275' '280' '290' '300' '320' '325'
 '340' '350' '360' '375' '380' '400' '425' '450' '475' '500' '525' '550'
 '575' '600' '625' '650']

### Display the number of null values in each column of the dataframe

In [17]:
for i in data.columns:
    n=0
    for j in data[i]:
        if pd.isnull(j):
            n=n+1
    print(i,": ",n)

Pressure :  0
Property :  0
Liq_Sat :  0
Vap_Sat :  0
75 :  528
100 :  508
125 :  488
150 :  448
175 :  384
200 :  320
220 :  408
225 :  400
240 :  408
250 :  344
260 :  384
275 :  340
280 :  380
290 :  488
300 :  60
320 :  480
325 :  136
340 :  476
350 :  68
360 :  476
375 :  204
380 :  476
400 :  0
425 :  204
450 :  0
475 :  204
500 :  0
525 :  272
550 :  0
575 :  340
600 :  0
625 :  476
650 :  0

### Create a column which contains the Pressure and Property columns, seperated with 'at' (For eg. V at 1, H at 101.325). Using this print the following:
- Enthalpy at 75 kPa and 573 K
- Entropy at 493 K and 250 kPa

In [18]:
data['Property at Pressure']=data['Property']+' at '+data['Pressure'].astype(str)
data.head()

,Pressure,Property,Liq_Sat,Vap_Sat,75,100,125,150,175,200,...,450,475,500,525,550,575,600,625,650,Property at Pressure
0,1.0,V,1.000,129200.0000,160640.0000,172180.0000,183720.0000,195270.0000,206810.0000,218350.0000,...,333730.00,NaN,356810.0000,NaN,379880.0000,NaN,402960.0000,NaN,426040.0000,V at 1.0
1,1.0,U,29.334,2385.2000,2480.8000,2516.4000,2552.3000,2588.5000,2624.9000,2661.7000,...,3049.90,NaN,3132.4000,NaN,3216.7000,NaN,3302.6000,NaN,3390.3000,U at 1.0
2,1.0,H,29.335,2514.4000,2641.5000,2688.6000,2736.0000,2783.7000,2831.7000,2880.1000,...,3383.60,NaN,3489.2000,NaN,3596.5000,NaN,3705.6000,NaN,3816.4000,H at 1.0
3,1.0,S,0.106,8.9767,9.3828,9.5136,9.6365,9.7527,9.8629,9.9679,...,10.82,NaN,10.9612,NaN,11.0957,NaN,11.2243,NaN,11.3476,S at 1.0
4,10.0,V,1.010,14670.0000,16030.0000,17190.0000,18350.0000,19510.0000,20660.0000,21820.0000,...,33370.00,NaN,35670.0000,NaN,37980.0000,NaN,40290.0000,NaN,42600.0000,V at 10.0

### Find out the column with the highest number of missing values

In [19]:
L=[]
for i in data.columns:
    n=0
    for j in data[i]:
        if pd.isnull(j):
            n=n+1
    L.append(n)
m=max(L)
for i in data.columns:
    n=0
    for j in data[i]:
        if pd.isnull(j):
            n=n+1
    if n==m:
        print("Column with highest number of missing values: ",i)

Column with highest number of missing values:  75

### What is the average enthalpy of Sat. Liq. at all different pressures in the dataset?

In [20]:
e=data[data['Property']=='H']
print('Average enthalpy of Sat.Liq. at all diff pressures: ',e['Liq_Sat'].mean())

Average enthalpy of Sat.Liq. at all diff pressures:  936.9707720588235

### Separate out the V,U,H,S data from the dataset into V_data, U_data, H_data, S_data

In [21]:
V_data=data[data['Property']=='V']
print('V_data:\n',V_data)
U_data=data[data['Property']=='U']
print('U_data\n',U_data)
H_data=data[data['Property']=='H']
print('H_data\n',H_data)
S_data=data[data['Property']=='S']
print('S_data\n',S_data)

V_data:
      Pressure Property  Liq_Sat     Vap_Sat        75       100       125  \
0         1.0        V    1.000  129200.000  160640.0  172180.0  183720.0
4        10.0        V    1.010   14670.000   16030.0   17190.0   18350.0
8        20.0        V    1.017    7649.800    8000.0    8584.7    9167.1
12       30.0        V    1.022    5229.300    5322.0    5714.4    6104.6
16       40.0        V    1.027    3993.400       NaN    4279.2    4573.3
..        ...      ...      ...         ...       ...       ...       ...
524   10600.0        V    1.474      16.778       NaN       NaN       NaN
528   10800.0        V    1.481      16.385       NaN       NaN       NaN
532   11000.0        V    1.489      16.006       NaN       NaN       NaN
536   11200.0        V    1.496      15.639       NaN       NaN       NaN
540   11400.0        V    1.504      15.284       NaN       NaN       NaN

          150       175       200  ...         450     475         500  \
0    195270.0  206810.0  218350.0  ...  333730.000     NaN  356810.000
4     19510.0   20660.0   21820.0  ...   33370.000     NaN   35670.000
8      9748.0   10320.0   10900.0  ...   16680.000     NaN   17830.000
12     6493.2    6880.8    7267.5  ...   11120.000     NaN   11890.000
16     4865.8    5157.2    5447.8  ...    8340.100     NaN    8917.600
..        ...       ...       ...  ...         ...     ...         ...
524       NaN       NaN       NaN  ...      27.834  29.313      30.732
528       NaN       NaN       NaN  ...      27.245  28.706      30.106
532       NaN       NaN       NaN  ...      26.676  28.120      29.503
536       NaN       NaN       NaN  ...      26.128  27.555      28.921
540       NaN       NaN       NaN  ...      25.599  27.010      28.359

        525         550     575         600     625         650  \
0       NaN  379880.000     NaN  402960.000     NaN  426040.000
4       NaN   37980.000     NaN   40290.000     NaN   42600.000
8       NaN   18990.000     NaN   20140.000     NaN   21300.000
12      NaN   12660.000     NaN   13430.000     NaN   14190.000
16      NaN    9494.900     NaN   10070.000     NaN   10640.000
..      ...         ...     ...         ...     ...         ...
524  32.106      33.444  34.753      36.039  37.304      38.552
528  31.461      32.779  34.069      35.335  36.580      37.808
532  30.839      32.139  33.410      34.656  35.882      37.091
536  30.240      31.521  32.774      34.002  35.210      36.400
540  29.661      30.925  32.160      33.370  34.560      35.733

     Property at Pressure
0                V at 1.0
4               V at 10.0
8               V at 20.0
12              V at 30.0
16              V at 40.0
..                    ...
524          V at 10600.0
528          V at 10800.0
532          V at 11000.0
536          V at 11200.0
540          V at 11400.0

[136 rows x 38 columns]
U_data
      Pressure Property   Liq_Sat  Vap_Sat      75     100     125     150  \
1         1.0        U    29.334   2385.2  2480.8  2516.4  2552.3  2588.5
5        10.0        U   191.822   2438.0  2479.7  2515.6  2551.6  2588.0
9        20.0        U   251.432   2456.9  2478.4  2514.6  2550.9  2587.4
13       30.0        U   289.271   2468.6  2477.1  2513.6  2550.2  2586.8
17       40.0        U   317.609   2477.1     NaN  2512.6  2549.4  2586.2
..        ...      ...       ...      ...     ...     ...     ...     ...
525   10600.0        U  1418.100   2539.0     NaN     NaN     NaN     NaN
529   10800.0        U  1426.200   2536.2     NaN     NaN     NaN     NaN
533   11000.0        U  1434.200   2533.2     NaN     NaN     NaN     NaN
537   11200.0        U  1442.100   2530.3     NaN     NaN     NaN     NaN
541   11400.0        U  1450.000   2527.2     NaN     NaN     NaN     NaN

        175     200  ...     450     475     500     525     550     575  \
1    2624.9  2661.7  ...  3049.9     NaN  3132.4     NaN  3216.7     NaN
5    2624.5  2661.4  ...  3049.8     NaN  3132.3     NaN  3216.6     NaN
9    2624.1  2661.0  ...  3049.7     NaN  3132.3     NaN  3216.5     NaN
13   2623.6  2660.7  ...  3049.6     NaN  3132.2     NaN  3216.5     NaN
17   2623.2  2660.3  ...  3049.5     NaN  3132.1     NaN  3216.4     NaN
..      ...     ...  ...     ...     ...     ...     ...     ...     ...
525     NaN     NaN  ...  2939.1  2991.1  3041.4  3090.7  3139.3  3187.5
529     NaN     NaN  ...  2936.7  2989.0  3039.6  3089.0  3137.8  3186.1
533     NaN     NaN  ...  2934.3  2986.9  3037.7  3087.3  3136.2  3184.7
537     NaN     NaN  ...  2931.8  2984.8  3035.8  3085.6  3134.7  3183.3
541     NaN     NaN  ...  2929.4  2982.6  3033.9  3083.9  3133.1  3181.9

        600     625     650  Property at Pressure
1    3302.6     NaN  3390.3              U at 1.0
5    3302.6     NaN  3390.3             U at 10.0
9    3302.5     NaN  3390.2             U at 20.0
13   3302.5     NaN  3390.2             U at 30.0
17   3302.4     NaN  3390.1             U at 40.0
..      ...     ...     ...                   ...
525  3235.6  3283.6  3331.7          U at 10600.0
529  3234.3  3282.4  3330.6          U at 10800.0
533  3233.0  3281.2  3329.5          U at 11000.0
537  3231.7  3280.0  3328.4          U at 11200.0
541  3230.4  3278.8  3327.2          U at 11400.0

[136 rows x 38 columns]
H_data
      Pressure Property   Liq_Sat  Vap_Sat      75     100     125     150  \
2         1.0        H    29.335   2514.4  2641.5  2688.6  2736.0  2783.7
6        10.0        H   191.832   2584.8  2640.0  2687.5  2735.2  2783.1
10       20.0        H   251.453   2609.9  2638.4  2686.3  2734.2  2782.3
14       30.0        H   289.302   2625.4  2636.8  2685.1  2733.3  2781.6
18       40.0        H   317.650   2636.9     NaN  2683.8  2732.3  2780.9
..        ...      ...       ...      ...     ...     ...     ...     ...
526   10600.0        H  1433.700   2716.9     NaN     NaN     NaN     NaN
530   10800.0        H  1442.200   2713.1     NaN     NaN     NaN     NaN
534   11000.0        H  1450.600   2709.3     NaN     NaN     NaN     NaN
538   11200.0        H  1458.900   2705.4     NaN     NaN     NaN     NaN
542   11400.0        H  1467.200   2701.5     NaN     NaN     NaN     NaN

        175     200  ...     450     475     500     525     550     575  \
2    2831.7  2880.1  ...  3383.6     NaN  3489.2     NaN  3596.5     NaN
6    2831.2  2879.6  ...  3383.5     NaN  3489.1     NaN  3596.5     NaN
10   2830.6  2879.2  ...  3383.4     NaN  3489.0     NaN  3596.4     NaN
14   2830.0  2878.7  ...  3383.3     NaN  3488.9     NaN  3596.3     NaN
18   2829.5  2878.2  ...  3383.1     NaN  3488.8     NaN  3596.2     NaN
..      ...     ...  ...     ...     ...     ...     ...     ...     ...
526     NaN     NaN  ...  3234.1  3301.8  3367.2  3431.0  3493.8  3555.9
530     NaN     NaN  ...  3230.9  3299.0  3364.7  3428.8  3491.8  3554.1
534     NaN     NaN  ...  3227.7  3296.2  3362.2  3426.5  3489.7  3552.2
538     NaN     NaN  ...  3224.5  3293.4  3359.7  3424.3  3487.7  3550.4
542     NaN     NaN  ...  3221.2  3290.5  3357.2  3422.1  3485.7  3548.5

        600     625     650  Property at Pressure
2    3705.6     NaN  3816.4              H at 1.0
6    3705.5     NaN  3816.3             H at 10.0
10   3705.4     NaN  3816.2             H at 20.0
14   3705.4     NaN  3816.2             H at 30.0
18   3705.3     NaN  3816.1             H at 40.0
..      ...     ...     ...                   ...
526  3617.6  3679.1  3740.4          H at 10600.0
530  3615.9  3677.5  3738.9          H at 10800.0
534  3614.2  3675.9  3737.5          H at 11000.0
538  3612.5  3674.4  3736.0          H at 11200.0
542  3610.8  3672.8  3734.6          H at 11400.0

[136 rows x 38 columns]
S_data
      Pressure Property  Liq_Sat  Vap_Sat      75     100     125     150  \
3         1.0        S   0.1060   8.9767  9.3828  9.5136  9.6365  9.7527
7        10.0        S   0.6493   8.1511  8.3168  8.4486  8.5722  8.6888
11       20.0        S   0.8321   7.9094  7.9933  8.1261  8.2504  8.3676
15       30.0        S   0.9441   7.7695  7.8024  7.9363  8.0614  8.1791
19       40.0        S   1.0261   7.6709     NaN  7.8009  7.9268  8.0450
..        ...      ...      ...      ...     ...     ...     ...     ...
527   10600.0        S   3.4029   5.5835     NaN     NaN     NaN     NaN
531   10800.0        S   3.4167   5.5715     NaN     NaN     NaN     NaN
535   11000.0        S   3.4304   5.5595     NaN     NaN     NaN     NaN
539   11200.0        S   3.4440   5.5476     NaN     NaN     NaN     NaN
543   11400.0        S   3.4575   5.5357     NaN     NaN     NaN     NaN

        175     200  ...      450     475      500     525      550     575  \
3    9.8629  9.9679  ...  10.8200     NaN  10.9612     NaN  11.0957     NaN
7    8.7994  8.9045  ...   9.7572     NaN   9.8984     NaN  10.0329     NaN
11   8.4785  8.5839  ...   9.4372     NaN   9.5784     NaN   9.7130     NaN
15   8.2903  8.3960  ...   9.2499     NaN   9.3912     NaN   9.5257     NaN
19   8.1566  8.2624  ...   9.1170     NaN   9.2583     NaN   9.3929     NaN
..      ...     ...  ...      ...     ...      ...     ...      ...     ...
527     NaN     NaN  ...   6.3872  6.4793   6.5652  6.6465   6.7239  6.7983
531     NaN     NaN  ...   6.3752  6.4678   6.5542  6.6357   6.7134  6.7880
535     NaN     NaN  ...   6.3633  6.4564   6.5432  6.6251   6.7031  6.7779
539     NaN     NaN  ...   6.3515  6.4452   6.5324  6.6147   6.6929  6.7679
543     NaN     NaN  ...   6.3399  6.4341   6.5218  6.6043   6.6828  6.7580

         600     625      650  Property at Pressure
3    11.2243     NaN  11.3476              S at 1.0
7    10.1616     NaN  10.2849             S at 10.0
11    9.8416     NaN   9.9650             S at 20.0
15    9.6544     NaN   9.7778             S at 30.0
19    9.5216     NaN   9.6450             S at 40.0
..       ...     ...      ...                   ...
527   6.8700  6.9394   7.0067          S at 10600.0
531   6.8599  6.9294   6.9969          S at 10800.0
535   6.8499  6.9196   6.9872          S at 11000.0
539   6.8401  6.9099   6.9777          S at 11200.0
543   6.8304  6.9004   6.9683          S at 11400.0

[136 rows x 38 columns]

# Section 4 : Conculsion

*Congratulations on reaching this point! I hope you had fun solving your first assignment and have also built confidence in applying these libraries. If you are wondering, we will cover more about z-score normalization in Week 2, and the sigmoid function will be used in Week 3. After completing this assignment, you are now prepared to learn about machine learning techniques and implement your own machine learning models.*